/* General styles */
body {
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    padding: 10px;
    background: #074173; 
    background-image: linear-gradient(to right, #074173, #1679AB);
}

header h1 {
    margin: 0;
}

.line-4 hr {
    height: 2px;
    border: 0;
    background: rgb(29, 41, 81);
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    /* display: flex;
    flex-wrap: wrap; */
}

/* Employee card styles */
.employee-card {
    width: 20%;
    background-image: linear-gradient(to right, #5DEBD7, #C5FF95);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* display: flex;
    flex-direction: column; */
    margin-bottom: 50px; 
    height: 20%;
}

.employee-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.employee-card p {
    margin-bottom: 5px;
}

form {
    width: 95%;
    border: 1px solid;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #C5FF95;
    margin-bottom: 30px; 
    height: 50%;
}

form label {
    display: block; 
    margin-bottom: 10px;
}

form input[type="text"],
form select {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #5DEBD7;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer {
    clear: both; /* Clear both left and right floats */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #00188F; 
    background-image: linear-gradient(to right, #074173, #1679AB);
    color: white;
    
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin-right: 10px;
    padding: 30px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li p {
    text-align: right;
    display: inline;
    position: absolute;
    bottom: 5px;
    right: 16px;
}

#employee-info {
    margin-top: 20px;
}
